<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <structured_data>
            <general>
                <id_use_root_domain>0</id_use_root_domain>
            </general>
            <breadcrumbs>
                <is_enabled>1</is_enabled>
                <include_homepage>0</include_homepage>
            </breadcrumbs>
            <organization>
                <is_enabled>1</is_enabled>
                <return_policy>
                    <is_enabled>0</is_enabled>
                    <return_policy_category>MerchantReturnUnspecified</return_policy_category>
                </return_policy>
            </organization>
            <website>
                <is_enabled>1</is_enabled>
                <search_box_enabled>1</search_box_enabled>
            </website>
            <category_page>
                <include_products>1</include_products>
                <include_list_item>0</include_list_item>
                <show_rating>0</show_rating>
            </category_page>
            <product_page>
                <is_enabled>1</is_enabled>
                <is_indexing_enabled>1</is_indexing_enabled>
                <indexer_cron_schedule>0 3 * * *</indexer_cron_schedule>
                <cache_lifetime>0</cache_lifetime>
                <show_rating>1</show_rating>
                <default_price_valid_until_enabled>0</default_price_valid_until_enabled>
                <attributes>
                    <description>description</description>
                </attributes>
                <delivery_data>
                    <is_enabled>0</is_enabled>
                </delivery_data>
                <audience>
                    <suggested_gender>unisex</suggested_gender>
                    <suggested_gender_use_attribute>0</suggested_gender_use_attribute>
                    <suggested_min_age>18</suggested_min_age>
                    <suggested_min_age_use_attribute>0</suggested_min_age_use_attribute>
                </audience>
                <grouped>
                    <use_parent_product_url>1</use_parent_product_url>
                    <use_parent_product_images>1</use_parent_product_images>
                    <use_parent_product_reviews>1</use_parent_product_reviews>
                </grouped>
                <configurable>
                    <use_parent_product_url>0</use_parent_product_url>
                    <use_parent_product_images>0</use_parent_product_images>
                    <use_parent_product_name>0</use_parent_product_name>
                    <use_parent_product_description>0</use_parent_product_description>
                    <display_product_group_element>1</display_product_group_element>
                </configurable>
            </product_page>
            <faq_page>
                <is_enabled>1</is_enabled>
                <is_enabled_on_cms_page>1</is_enabled_on_cms_page>
                <is_enabled_on_category>1</is_enabled_on_category>
                <is_enabled_on_product>1</is_enabled_on_product>
            </faq_page>
        </structured_data>
    </default>
</config>
