<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <structured_data>
            <breadcrumbs>
                <is_enabled>1</is_enabled>
            </breadcrumbs>
            <organization>
                <is_enabled>1</is_enabled>
            </organization>
            <search_box>
                <is_enabled>1</is_enabled>
            </search_box>
            <category_page>
                <include_products>1</include_products>
            </category_page>
            <product_page>
                <is_enabled>1</is_enabled>
                <show_rating>1</show_rating>
                <attributes>
                    <description>description</description>
                </attributes>
                <grouped>
                    <use_parent_product_url>1</use_parent_product_url>
                    <use_parent_product_images>1</use_parent_product_images>
                    <use_parent_product_reviews>1</use_parent_product_reviews>
                </grouped>
            </product_page>
            <social>
                <is_enabled>1</is_enabled>
            </social>
        </structured_data>
    </default>
</config>
