<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\GoogleStructuredData\Provider\Data\FaqPage\QuestionListInterface" type="MageSuite\GoogleStructuredData\Provider\Data\FaqPage\AccordionComponentQuestionList" />

    <type name="MageSuite\GoogleStructuredData\Plugin\GroupedProduct\Model\Product\Type\Grouped\AddAttributesToAssociatedProducts">
        <arguments>
            <argument name="attributesToSelect" xsi:type="array">
                <item name="url_key" xsi:type="string">url_key</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\GoogleStructuredData\Provider\Data\Product\TypeResolverPool">
        <arguments>
            <argument name="productTypeResolvers" xsi:type="array">
                <item name="configurable" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\TypeResolver\Configurable</item>
                <item name="grouped" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\TypeResolver\Grouped</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\GoogleStructuredData\Provider\Data\Product\ModifiersPool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="delivery_data" xsi:type="array">
                    <item name="modifier" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\Modifier\DeliveryData</item>
                    <item name="sort_order" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\GoogleStructuredData\Provider\Data\Product\CompositeAttribute">
        <arguments>
            <argument name="attributeDataProviders" xsi:type="array">
                <item name="description" xsi:type="array">
                    <item name="attribute_name" xsi:type="string">description</item>
                    <item name="class" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\Attribute\Eav</item>
                    <item name="type" xsi:type="string">configured_eav</item>
                    <item name="disabled" xsi:type="boolean">false</item>
                </item>
                <item name="brand" xsi:type="array">
                    <item name="attribute_name" xsi:type="string">brand</item>
                    <item name="class" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\Attribute\Brand</item>
                    <item name="type" xsi:type="string">configured_eav</item>
                    <item name="disabled" xsi:type="boolean">false</item>
                </item>
                <item name="manufacturer" xsi:type="array">
                    <item name="attribute_name" xsi:type="string">manufacturer</item>
                    <item name="class" xsi:type="object">MageSuite\GoogleStructuredData\Provider\Data\Product\Attribute\Eav</item>
                    <item name="type" xsi:type="string">configured_eav</item>
                    <item name="disabled" xsi:type="boolean">false</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="google_structured_data_add_attributes_to_associated_products" type="MageSuite\GoogleStructuredData\Plugin\GroupedProduct\Model\Product\Type\Grouped\AddAttributesToAssociatedProducts" sortOrder="10"/>
    </type>

    <type name="Magento\Framework\View\Element\Template">
        <plugin name="remove_schema_in_blocks" type="MageSuite\GoogleStructuredData\Plugin\Framework\View\Element\Template\RemoveSchemaInBlocks" sortOrder="10" />
        <plugin name="assign_breadcrumbs" type="MageSuite\GoogleStructuredData\Plugin\Framework\View\Element\Template\AddBreadcrumbsToDataProvider" sortOrder="20" />
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="add_products_data_to_category" type="MageSuite\GoogleStructuredData\Plugin\Catalog\Block\Product\ListProduct\AddProductsDataToCategoryPage" sortOrder="10" />
    </type>
</config>
