<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="magesuite_send_response_before" instance="MageSuite\GoogleStructuredData\Observer\AddStructuredDataToRenderedPage"/>
    </event>
    <event name="controller_action_postdispatch_catalog_product_view">
        <observer name="magesuite_catalog_product_view" instance="MageSuite\GoogleStructuredData\Observer\GenerateProductStructuredData"/>
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="magesuite_add_organization_data" instance="MageSuite\GoogleStructuredData\Observer\AddOrganizationData"/>
        <observer name="magesuite_add_search_box_data" instance="MageSuite\GoogleStructuredData\Observer\AddSearchBoxData"/>
        <observer name="magesuite_add_social_data" instance="MageSuite\GoogleStructuredData\Observer\AddSocialData"/>
    </event>
</config>