<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="structured_data" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Structured Data</label>
            <tab>magesuite</tab>
            <resource>MageSuite_GoogleStructuredData::config_structured_data</resource>
            <group id="breadcrumbs" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Breadcrumbs</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
            </group>
            <group id="organization" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Organization</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Organization Name</label>
                    <comment>Custom website name, if empty default one will be used.</comment>
                </field>
                <field id="logo" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Logo Url</label>
                    <comment>Custom website logo url, if empty default one will be used.</comment>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Description</label>
                </field>
                <group id="address" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address</label>
                    <field id="postal" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Postal Code</label>
                    </field>
                    <field id="city" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>City</label>
                    </field>
                    <field id="street" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Street</label>
                    </field>
                    <field id="region" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Region</label>
                    </field>
                    <field id="country" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Country</label>
                    </field>
                </group>
                <group id="contact" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact</label>
                    <field id="sales_telephone" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Sales Telephone</label>
                    </field>
                    <field id="sales_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Sales Email</label>
                    </field>
                    <field id="technical_telephone" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Technical Support Telephone</label>
                    </field>
                    <field id="technical_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Technical Support Email</label>
                    </field>
                    <field id="customer_service_telephone" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Customer Service Telephone</label>
                    </field>
                    <field id="customer_service_email" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Customer Service Email</label>
                    </field>
                </group>
            </group>
            <group id="search_box" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Box</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
            </group>
            <group id="social" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Media</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <group id="profiles" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Profiles</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                    <field id="facebook" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Facebook</label>
                        <comment>Full url to facebook profile.</comment>
                    </field>
                    <field id="twitter" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Twitter</label>
                        <comment>Full url to twitter profile.</comment>
                    </field>
                    <field id="google_plus" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Google+</label>
                        <comment>Full url to google+ profile.</comment>
                    </field>
                    <field id="instagram" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Instagram</label>
                        <comment>Full url to instagram profile.</comment>
                    </field>
                    <field id="youtube" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>YouTube</label>
                        <comment>Full url to youtube profile.</comment>
                    </field>
                    <field id="linkedin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>LinkedIn</label>
                        <comment>Full url to linkedin profile.</comment>
                    </field>
                    <field id="myspace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Myspace</label>
                        <comment>Full url to myspace profile.</comment>
                    </field>
                    <field id="pinterest" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Pinterest</label>
                        <comment>Full url to pinterest profile.</comment>
                    </field>
                    <field id="soundcloud" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>SoundCloud</label>
                        <comment>Full url to soundcloud profile.</comment>
                    </field>
                    <field id="tumblr" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Tumblr</label>
                        <comment>Full url to tumblr profile.</comment>
                    </field>
                </group>
            </group>
            <group id="category_page" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category</label>
                <field id="include_products" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Include products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether category page contains product data.</comment>
                </field>
                <field id="show_rating" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines if rating should be included for products in structured data on category page. Will work only if Show Rating is enabled also for Product.</comment>
                </field>
            </group>
            <group id="faq_page" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FAQ Page</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
            </group>
            <group id="product_page" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <field id="show_rating" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines if rating should be included in structured data.</comment>
                </field>
                <group id="attributes" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <field id="description" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Description</label>
                        <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                        <comment>Defines which attribute will be used to describe product description.</comment>
                    </field>
                    <field id="brand" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Brand</label>
                        <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                        <comment>Defines which attribute will be used to describe product brand.</comment>
                    </field>
                    <field id="manufacturer" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Manufacturer</label>
                        <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                        <comment>Defines which attribute will be used to describe product manufacturer.</comment>
                    </field>
                </group>
                <group id="grouped" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grouped Products</label>
                    <field id="use_parent_product_url" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use Parent Product URL</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="use_parent_product_images" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use Parent Product Images</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="use_parent_product_reviews" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use Parent Product Reviews</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
