<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="structured_data" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Structured Data</label>
            <tab>magesuite</tab>
            <resource>MageSuite_GoogleStructuredData::config_structured_data</resource>
            <group id="breadcrumbs" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Breadcrumbs</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
            </group>
            <group id="organization" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Organization</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Organization Name</label>
                    <comment>Custom website name, if empty default one will be used.</comment>
                </field>
                <field id="logo" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo Url</label>
                    <comment>Custom website logo url, if empty default one will be used.</comment>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="country" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                </field>
                <field id="region" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                </field>
                <field id="postal" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postal Code</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City</label>
                </field>
                <field id="sales" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sales</label>
                </field>
                <field id="technical" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Technical Support</label>
                </field>
                <field id="customer_service" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Support</label>
                </field>
            </group>
            <group id="search_box" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Box</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
            </group>
            <group id="social" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Media Profiles</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <field id="facebook" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to facebook profile.</comment>
                </field>
                <field id="twitter" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to twitter profile.</comment>
                </field>
                <field id="google_plus" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google+</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to google+ profile.</comment>
                </field>
                <field id="instagram" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to instagram profile.</comment>
                </field>
                <field id="youtube" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>YouTube</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to youtube profile.</comment>
                </field>
                <field id="linkedin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LinkedIn</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to linkedin profile.</comment>
                </field>
                <field id="myspace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Myspace</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to myspace profile.</comment>
                </field>
                <field id="pinterest" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to pinterest profile.</comment>
                </field>
                <field id="soundcloud" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SoundCloud</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to soundcloud profile.</comment>
                </field>
                <field id="tumblr" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tumblr</label>
                    <depends><field id='enabled'>1</field></depends>
                    <comment>Full url to tumblr profile.</comment>
                </field>
            </group>
            <group id="category_page" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category</label>
                <field id="include_products" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether category page contains product data.</comment>
                </field>
            </group>
            <group id="product_page" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines whether a section will be added to the page source code or not.</comment>
                </field>
                <field id="description" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                    <comment>Defines which attribute will be used to describe product description.</comment>
                </field>
                <field id="show_rating" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Defines if rating should be included in structured data.</comment>
                </field>
                <field id="brand" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand</label>
                    <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                    <comment>Defines which attribute will be used to describe product brand.</comment>
                </field>
                <field id="manufacturer" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer</label>
                    <source_model>MageSuite\GoogleStructuredData\Model\Config\Attributes</source_model>
                    <comment>Defines which attribute will be used to describe product manufacturer.</comment>
                </field>
            </group>
        </section>
    </system>
</config>